.button{
    border-radius: 0.3125rem;
    background: #5964E0;
    width: 8.8125rem;
    height: 3rem;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    outline: 0;
    border: none;
    cursor: pointer;
    &:hover{
      background: #939BF4;
    }
  }