@import '../../scss/mixins.scss';
#filter{
    form{
        display: flex;
        position: relative;
    }
    width: 100%;
    height: 5rem;
    flex-shrink: 0;
    display: flex;
    margin-top: -2.5rem;
    .leftInput,.rightInputs{
        position: relative;
        width: 100%;
        flex-shrink: 0;
    }
    .leftInput,.rightInputs > div:first-child{
        input{
            width: 100%;
            height: 5rem;
            outline: none;
            color: #19202D;
            font-family: Kumbh Sans;
            font-size: 1rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            background: transparent;
            border: 0;
        }
        label{
            position: absolute;
            top: calc(50% - 10px);
            left: 0;
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            pointer-events: none;
            opacity: 0.5;
            transition: opacity 0.1s;
        }
    }
    
   
    .searchIcon{
        position: absolute;
        width: 1.5rem;
        height: 1.5rem;
        left:2rem;
        top:1.75rem;
        background: url('./img/icon-search.svg');
    }

    .geoIcon{
        position: absolute;
        width: 1.0625rem;
        height: 1.5rem;
        left:1.44rem;
        top:1.75rem;
        background: url('./img/icon-location.svg');
    }

    .leftInput, .rightInputs > div:first-child{
        border-right: 0.0625rem solid rgba(110, 128, 152, 0.2);
    }

    

    button{
        height: 3rem;
       // flex-shrink: 0;
        border-radius: 0.3125rem;
        background: #5964E0;
        color: #FFF;
        font-family: Kumbh Sans;
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        border: 0;
        margin-right: 1rem;
        cursor: pointer;
        &:hover{
            background: #939BF4;
        }
    }

    .rightInputs{
        display: flex;
        div{
            width: 50%;
        }
        div:last-child{
            display: flex;
            justify-content: center;
            align-items: center;
        } 
        button{
            width: 7.6875rem;
        }
    }
    
    @media screen and (min-width: 1024px){
       padding: 0 10.3rem;
        .leftInput{
            max-width: calc((28.94rem / 69.375rem) * 100%);
        }
        .rightInputs{
            max-width: calc((40.38rem / 69.375rem) * 100%);
           
            div:first-child{
                input,label{
                    padding: 0 3.5rem;
                }
            }                     
        }
        .leftInput{
            input,label{
                //padding-left: calc((4.5rem / 28.94rem) *100%);
                padding: 0 4.5rem;
            }
        }
        .filterSearchMobile{
            display: none;
        }
    }
    @media screen and (max-width: 1023px) and (min-width: 750px){

         padding: 0 2.44rem;
        .leftInput{
            max-width: calc((13.88rem / 43.0625rem) * 100%);
        }
        .rightInputs{
            max-width: calc((29.12rem / 43.0625rem) * 100%);
            div:first-child{
                input,label{
                    padding: 0 3.56rem;
                }

            }   
            
                    
        }
        .leftInput{
            input,label{
                padding: 0 4rem;
            }
        }
        .filterSearchMobile{
            display: none;
        }
    }
    @media screen and (max-width:749px) {
        padding: 0 1.5rem;
        .leftInput{
            .searchIcon{
                display: none;
            }
            input,label{
                padding: 0 1.5rem;
            }
        }
        .rightInputs{
            display: none;
        }
        .filterSearchMobile{
            display: block;
            position: absolute;
            right: 0;
            top: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 5rem;
            gap: 1rem;
            button{
                width: 3rem;
                span{
                    display: block;
                    width: inherit;
                    height: inherit;
                    background-image: url('./img/icon-search-white.svg');
                    background-position: center;
                    background-repeat: no-repeat;
                }
            }
            span.filterIcon{
                display: block;
                width: 1.248rem;
                height: 1.25rem;
                flex-shrink: 0;
            }
        }
    }
    .labelTextMobile{
        display: none;
    }
    @media screen and (max-width:350px) {
        .labelTextDesktop{
            display: none;
        }
        .labelTextMobile{
            display: block;
        }
    }
    
}